doctype html
html
  head
    title= '聊天室 - ' + title
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8") 
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')
  body
  div#page_content
    block content

  script(src="/lib/jquery/jquery-1.11.1.min.js")
  script(src="/lib/bootstrap/js/bootstrap.js")
  script(src="/javascripts/build.js")